@tailwind base;
@tailwind components;
@tailwind utilities;

/* 强制移除浏览器默认边距 */
body {
  margin: 0;
  padding: 0;
}

@layer base {
  :root {
    /* 直接用 Figma 的颜色值 */
    --background: #ffffff;
    --foreground: oklch(0.145 0 0);
    
    --card: #ffffff;
    --card-foreground: oklch(0.145 0 0);
    
    --popover: oklch(1 0 0);
    --popover-foreground: oklch(0.145 0 0);
    
    --primary: #030213;
    --primary-foreground: oklch(1 0 0);
    
    --secondary: oklch(0.95 0.0058 264.53);
    --secondary-foreground: #030213;
    
    --muted: #ececf0;
    --muted-foreground: #717182;
    
    --accent: #e9ebef;
    --accent-foreground: #030213;
    
    --destructive: #d4183d;
    --destructive-foreground: #ffffff;
    
    --border: rgba(0, 0, 0, 0.1);
    --input: transparent;
    --ring: oklch(0.708 0 0);
    
    --radius: 0.625rem;
  }

  .dark {
    --background: oklch(0.145 0 0);
    --foreground: oklch(0.985 0 0);
    
    --card: oklch(0.145 0 0);
    --card-foreground: oklch(0.985 0 0);
    
    --popover: oklch(0.145 0 0);
    --popover-foreground: oklch(0.985 0 0);
    
    --primary: oklch(0.985 0 0);
    --primary-foreground: oklch(0.205 0 0);
    
    --secondary: oklch(0.269 0 0);
    --secondary-foreground: oklch(0.985 0 0);
    
    --muted: oklch(0.269 0 0);
    --muted-foreground: oklch(0.708 0 0);
    
    --accent: oklch(0.269 0 0);
    --accent-foreground: oklch(0.985 0 0);
    
    --destructive: oklch(0.396 0.141 25.723);
    --destructive-foreground: oklch(0.637 0.237 25.331);
    
    --border: oklch(0.269 0 0);
    --input: oklch(0.269 0 0);
    --ring: oklch(0.439 0 0);
  }

  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }

}
.custom-scrollbar::-webkit-scrollbar {
  width: 5px;
}
.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #374151;
  border-radius: 10px;
}
.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #4b5563;
}